* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: #1a1b26;
  color: #c0caf5;
  border-bottom: 2px solid #7aa2f7;
}

#workspaces button {
  padding: 0 10px;
  color: #a9b1d6;
  background-color: transparent;
  border: none;
}

#workspaces button.active {
  background-color: #292e42;
  color: #7aa2f7;
  border-bottom: 2px solid #7aa2f7;
}

#workspaces button:hover {
  background-color: #292e42;
}

#window {
  color: #a9b1d6;
  font-weight: normal;
}

#clock,
#battery,
#pulseaudio,
#network,
#tray {
  padding: 0 10px;
  background-color: transparent;
  color: #c0caf5;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning {
  color: #e0af68;
}

#battery.critical {
  color: #f7768e;
}

#pulseaudio.muted {
  color: #565f89;
}

#network.disconnected {
  color: #f7768e;
}
